html, body {
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#app{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#wrapper{
    flex: 1 0 auto;
    margin: 10px;
}
.content {
  flex: 1 0 auto;
}
.flex{
    display: flex;
}
.bg {
    background-image: url(/src/assets/headerpic.jpg);
    height: 60%;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}  
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
#close-menu-button{
    display: none;
}  
#myDropdown {
    visibility: hidden;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
#myDropdown a {
    float: none;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}  
#myDropdown a:hover {
    background-color: rgb(165, 162, 162);
}
.show {
    display: block;
}
.mt30{
    margin-top:30px;
}
.border-bottom{
    border-bottom: 1px solid #888686!important;
}
footer {
    background-color:#6F8394;
    color: #fff;
    display: flex;
}
.footer a:link {
    text-decoration: none;
    color: #fff;
}
.footer a:visited {
    text-decoration: none;
    color: #fff;
}
.footer a:hover {
    text-decoration: underline;
    color: #fff;
}
.footer a:active {
    text-decoration: underline;
    color: #fff;
}
footer h5, footer{
    font-size: 12px!important;
}
.footer {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-bottom: 30px;
}
.footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.footer-copyright{
    text-align: center;
    margin-top: 30px;
}
.footer ul{
    list-style-type: none;
}